/Documents/NetBeansProjects/Ejercicio4Esme/nbproject/private/
/Documents/NetBeansProjects/Ejercicio4Esme/build/
/Documents/NetBeansProjects/Nomina1/nbproject/private/
/Documents/NetBeansProjects/Pizzeria/nbproject/private/
/Documents/NetBeansProjects/Taller/nbproject/private/
/Documents/NetBeansProjects/Estudiantes/nbproject/private/
/Documents/NetBeansProjects/Estudiantes/build/
/Documents/NetBeansProjects/Texto/nbproject/private/
/Documents/NetBeansProjects/Texto/build/
/Documents/NetBeansProjects/LeerArchivo/nbproject/private/
/Documents/NetBeansProjects/LeerArchivo/build/